@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  padding: 0;
  --background: transparent;
  --foreground: #171717;
}

html {
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: transparent;
    --foreground: #ededed;
  }
}

body {
  padding: 0;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.custom-gradient {
  background: linear-gradient(135deg, #153677, #4e085f);
}